html {
    box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #1c1c1c;
  overflow-y: hidden;
}

.icon-container {
  position: relative;
  width: 200px;
  height: 200px;
}

.fa-ghost {
  font-size: 200px;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  transition: 
    transform 1s cubic-bezier(0.68, -0.55, 0.265, 1.55),
    color 1s ease-out,
    font-size 1s ease-out;

    &:hover {
        transform: scale(1.2);
        color: red;
        font-size: 220px;;
    }
}
