body {
  margin: 0;
}

.gradient {
  width: 100vw;
  height: 100vh;
  background: rgb(131,58,180);
  background: 
    linear-gradient(90deg, rgba(131,58,180,0.5) 0%, rgba(253,29,29,0.5) 50%, rgba(252,176,69,0.5) 100%),
    url('https://picsum.photos/1920/1080?grayscale');
  background-size: cover;
  background-repeat: no-repeat;
}